.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  font-size: 30px;
  color: #fff;
  background-color: #264653;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header span {
  margin-right: 15px;
  font-weight: bolder;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.product {
  width: calc(25% - 15px);
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.basket {
  width: 100%;
  margin-right: 20px;
}

.basket
.product-items {
  display: flex;
  justify-content: space-between;
}
